var addon = {
    calculateDrug: function(index, item) {
        var currentIndex = index + 1;
        if (item.item_id !== '') {
            return 'event-offset-' + index + ' ' + 'event-offset-' + index + '-end-' + currentIndex;
        }
    },
    calculateTagStartEnd: function(item) {
        if (item.is_start !== 1) {
            return 'tag-not-start'
        }
        if (item.is_end !== 1) {
            return 'tag-not-end'
        }
    }
}

module.exports = {
    calculateDrug: addon.calculateDrug
    calculateTagStartEnd: addon.calculateTagStartEnd
}
